.main-text {
    text-align: center;
    padding: 25px;
    font-family: Arial, sans-serif;
    font-size: 50px;
    background-color: #fbffbd;
    border-radius: 20px;
    box-shadow: 10px 12px 5px #575757;
}

.main-text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}

.btn {
    margin-top: 20px;
    background-color: #3b3d3b;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 3px #424242;
}

.btn:hover {
    background-color: #272927;
}