.main-text {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    font-size: 50px;
    background-color: #fbffbd;
}

.button-container {
    text-align: center;
}

.btn {
    background-color: #6e5eff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5d4cf7;
}
